body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    background-color: #020617;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav {
    background-color: #020617;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
}

h2 {
    color: #38bdf8;
}

ul {
    line-height: 1.8;
}

.project {
    background-color: #020617;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
    font-size: 14px;
}
.resume-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.resume-btn:hover {
    background-color: #0ea5e9;
}
/* Profile Image Styling */
.about-image img {
    width: 250px;        /* change size here */
    height: 250px;       /* make square */
    object-fit: cover;   /* crop nicely */
    border-radius: 50%;  /* make circle */
    border: 4px solid #007bff;
}
